<!DOCTYPE html>
<html lang="en" class="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {

                extend: {
                    colors: {
                        primary: "#0186DA",
                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer components{
            .btn {
                @apply bg-primary hover:bg-primary/80 duration-200 px-3 py-1 rounded text-white font-semibold inline-block;
            }

            .min-h-main{
                min-height: calc(100vh - 82px);
            }
        }
      </style>
</head>

<body class="dark:bg-black">
    <header class="px-3 md:px-10 bg-black dark:bg-gray-800 py-2 border-t-4 border-primary mb-3 sticky top-0   ">
        <nav class="flex justify-between items-center w-full">
            <h2 class="font-bold text-xl text-white">Express.js RESTful API</h2>
            <button class="text-white">admin</button>
        </nav>
    </header>
    <main class="px-2">
        <div class="bg-gray-100/60 dark:bg-gray-600/40 w-full max-w-6xl mx-auto p-2 rounded-md mb-3">
            <p class="dark:text-gray-100">Api Root</p>
        </div>
        <div class="w-full max-w-6xl bg-gray-100/60 dark:bg-gray-600/40 rounded-md mx-auto p-3">
            <p class="font-semibold dark:text-gray-50">
                <%= protocol %>
                    <%= status %>
                        <%= statusMessage %>
            </p>
            <p class="dark:text-gray-50">
                <span class="font-semibold">Allow:</span>
                <%= allow %>
            </p>
            <p class="dark:text-gray-50">
                <span class="font-semibold">METHOD:</span>
                <%= req.method %>
            </p>
            <p class="dark:text-gray-50">
                <span class="font-semibold">Content-Type:</span>
                <%= contentType %>
            </p>
            <p class="dark:text-gray-50">
                <span class="font-semibold">url:</span>
                <a class="underline" href="<%= url %>" target="_blank">
                    <%= url %>
                </a>
            </p>
        </div>

        <div class="flex justify-center mt-10">
            <div
                class="w-full max-w-lg shadow-lg space-y-3 p-3 rounded-md flex flex-col items-center dark:bg-slate-800/40 backdrop-blur border-primary/50 border-2">
                <h1 class="text-3xl text-center font-bold dark:text-white">URL Shortner</h1>
                <p class="text-center dark:text-gray-300">
                    URL Shortner is a free tool to shorten URLs and generate short links. URL shortener allows to create
                    a
                    shortened link making it easy to share
                </p>
                <a target="_blank" rel="" href="https://short-url-shortner.web.app" class="btn text-center">Get
                    started</a>
            </div>
        </div>
    </main>

</body>

</html>